<!-- Create the template Sign up -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Create your account</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="email">
          <span class="input-group-addon" id="basic-password">Email</span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="password" class="form-control" formControlName="password">
          <span class="input-group-addon" id="basic-password">Password</span>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]=signUpForm.invalid>
        Create my account
        <i class="glyphicon glyphicon-remove" style="color: #fff; margin-left: 8px; font-size: 16px;" *ngIf="iconSuccess"></i>
        <i class="glyphicon glyphicon-ok" style="color: #fff; margin-left: 8px; font-size: 16px;" *ngIf="iconFailed"></i>
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
