<!-- Create the template Sign in -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Connection</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="email" class="form-control" formControlName="email">
          <span class="input-group-addon" id="basic-password">Email</span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="password" id="password" class="form-control" formControlName="password"  aria-describedby="basic-password">
          <span class="input-group-addon" id="basic-password">Password</span>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="signInForm.invalid">
        Sign in
        <i class="glyphicon glyphicon-remove" style="color: #fff; margin-left: 8px; font-size: 16px;" *ngIf="iconSuccess"></i>
        <i class="glyphicon glyphicon-ok" style="color: #fff; margin-left: 8px; font-size: 16px;" *ngIf="iconFailed"></i>
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
